@font-face {
    font-family: 'defaultFont'; 
    src: url(/openly/SIXTY.ttf); 
}


@media only screen and (max-width: 1500px) {
    .title {
      font-size: 200px;
    }

    #openly a{
        color: rgb(184, 164, 127) !important;
    }

    #throughourknuckles{
        font-size: 2em;
    }
    #bodyBg{
        font-size: 1.5rem;
    }

}

body, .main-body{
    position: sticky;
    /* font-family: 'Lato', Helvetica, Arial, sans-serif; */
    margin: 0;
    font-size: 1.5rem;
    text-shadow: 0px 2px 3px rgb(49 92 183);
    color: rgb(183, 156, 49, .5) !important;
}


video::-webkit-media-controls-start-playback-button {
    display: none !important;
  }


#opening-vid video{
    width: 190px;
    height: auto;
    margin-right: 0;
    margin-left: 75vw;
    opacity: 0.75;
    transform: translate(0, -70px);
}

#opening-vid{
    position: relative;
    z-index: 1;
    mix-blend-mode: exclusion;

}

#bodyBg{
    background-color: rgb(182, 162, 126);
    background-blend-mode: lighten;
    width: 101vw;
    height: fit-content;
    min-height: 100%;
}



#root{
    z-index: 10;
    position: relative;
}

.main{
    position: relative;
    display: flex;
    width: 95vw;
    margin-top: 2%;
    padding-top: 1%;
    box-sizing: border-box;
    align-self: space-between;
}



#bg{
    position: fixed;
    opacity: 0.8;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: 0;
    transform: translate(-0%, -27%);
}


/*~~~~~~~~~~~~~~~openly~~~~~~~~~~~~~~~*/


#openly-main p{
    padding: 0% 2%;
    font-size: 1.3em;;
}


.openly{
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    overflow: hidden;
}



@keyframes bgColor {
    0% {background-color: rgb(231, 208, 167)}
    50% {background-color: rgb(208, 213, 218)}
    100% {background-color: rgb(231, 208, 167)}
}

#centerPoem{
    margin-top: 10vh;
    position: absolute;
    width: 100%;
    padding: 2%;
    font-size: 3em;
    font-weight: 200;;
}


#header1{
    top: 0vh;
    height: 5vh;
    font-size: 0.8em !important;
    font-weight: 100 !important;
    filter: invert(0.85);
    box-shadow: 0 5px 60px #05054f;
    display: flex;
    justify-content: space-between;
}

#header1 a{
    color: rgb(13, 19, 56);
    text-decoration: none; 
    text-shadow: 0px 10px 5px black;
}


.header{
    text-shadow: 0 0 10px rgb(82, 79, 72);
    opacity: 0.75;
    position: sticky;
    width: 101vw;
    left: 0;
    text-align: center;
    z-index: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}

#header2{
    top: 0vh;
    font-size: 1.75em;
    height: 50vh;
    font-size: 1.5em !important;
    background-color: rgb(221 221 221);
    color: black;
    mix-blend-mode: color-burn;
    font-weight: 900;
}


#enter-openly, #header1{
    color: rgb(0 0 0 / 70%) !important;
    background-color: #27276ce7;
}


#enter-openly{
    text-shadow: 0 0 30px rgb(255, 247, 227);
    opacity: 0.95;
}


#enter-openly{
    filter: invert(0.8);
    box-shadow: 0 0px 20px #6c6cab;
    box-sizing: border-box;
    text-align: center;
    font-weight: 800;
    width: 90%;
    margin: 10% 50%;
    transform: translate(-50%, 0);
    padding: 5%;
    mix-blend-mode: exclusion;
    border: none;
    position: relative;
}

#stillness{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}


#stillness p{
    color: #00000052;
    text-shadow: 1px 1px 2px wheat;
    text-align: center;
    width: 100%;
}

#stillmylove{
    padding: 2% 0;
}
#stillness img{
    width: 48%;
    opacity: 0.75;
    box-sizing: border-box;
}

#stillmylove img{
    width: 50%;
    margin: 0 25%;
}

#stillmylove h1{
    font-size: 2em;
    margin-left: 20%;
}

#openly-title{
    mix-blend-mode: lighten;
    color: #c6daa8;
    font-size: 3em;
    font-weight: 800;
    text-shadow: 0 0 5px greenyellow;
}

#stillmylove audio{
    font-size: 3em !important;
}

#intro1{
    mix-blend-mode: color-burn;
    padding: 1%;
    color: #ffffff;
    background-color: rgb(0 0 0 / 10%);
    text-shadow: 0 0 3px #000000;
    position: relative;
    margin: 2vh 10vw;
    width: 80vw;
    font-size: 1.25em;
    z-index: 100;
    font-weight: 900;
}

#intro1 div:nth-child(1){
    font-size: 1.15em;
}

#intro{
    color: #3a3a59;
    background-color: rgb(204 192 146 / 86%);
    text-shadow: 0 0 3px #010152;
    position: relative;
    margin: 2vh 10vw;
    width:80vw;
    font-size: 4em;
    font-weight: 600; 
}


#intro5{
    color: #4e4e77;
    box-sizing: border-box;
    background-color: #d0d6ae61;
    text-shadow: 0 0 10px #9999c5;
    position: relative;
    margin: 2vh 10vw;
    width:80vw;
    padding: 1%;
    font-size: 3em;
    font-weight: 600; 
}

#intro3{
 margin-top: 5%;
 font-size: 3em;

}

#intro3{
    font-weight: 600;
    width: 60%;
    padding: 5% 20%;
    color: #eceaea;
    background-color: rgba(188, 189, 212, 0.86);
}

#reopening-vid-cont{
    position: relative;
    width: 70vw;
    color:rgb(208, 207, 207);
    z-index: 100;
    padding: 5% 15vw;
    opacity: 0.9;
    text-align: center;
}

#reopening-video{

    width:100%;
    mix-blend-mode: normal;
    background-color: black;
    height: auto;
    z-index: 100;
}

#intro4{
    margin-top: 5%;
    width: 80%;
    font-weight: 600;
    padding: 5% 10%;
    font-size: 2em;
    color: #040404;
    text-shadow: 0 2px 3px white;
    background-color: rgba(185, 195, 153, 0.86);
   }

#full-link{
    background-color: white;
}

#openly-header{
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.grid-row{
    position: relative;
    z-index: 100;
}
.odd, .even{
    position: relative;
    z-index: 100;
}

#centerPoem p{
    display: none;
    text-shadow: 0px 2px 3px rgb(165, 172, 179);
    color: rgba(165, 172, 179, 0.735) !important;
}
#test{
    z-index: 100;
    position: relative;
}

#centerPoem p:nth-child(2) {
    animation-delay: 3s;
}

#centerPoem p:nth-child(3) {
    animation-delay: 6s;
}
#centerPoem p:nth-child(4) {
    animation-delay: 9s;
}
#centerPoem p:nth-child(5) {
    animation-delay: 12s;
}
#centerPoem p:nth-child(6) {
    animation-delay: 15s;
}

#centerPoem p:nth-child(7) {
    animation-delay: 18s;
}

@keyframes poemOpacity {
    0% {opacity: 0;}
    30% {opacity: 0.8;}
    50% {opacity: 1;}
    70% {opacity: 0.8;}
    100% {opacity: 0;}
}

#openly-list a{
    color: rgb(214, 214, 12) !important;
}

#openly-list{
    margin-left: 30%;
}

#openly-list a:hover{
    opacity: 1.0 !important;
    color: rgb(18, 10, 48);
    background-color: rgb(255, 0, 221);
}

/*~~~~~~~~~~~~~~~all~~~~~~~~~~~~~~~*/


/* #birds-vid{
    filter: brightness(1.1);
} */
#openly-poem{
    filter: invert(0.8);
    /* position: absolute; */
    width:100%;
}

#birds-vid{
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

#me{
    width: 80%;
    position: relative;
}

#intro2{
    color: black;
    padding: 0 10%;
}

.bgVideo{
    height: 100%;
    overflow-x: hidden;
    width: auto;
    min-width: 100vw;
    min-height: 110vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    z-index: 0;
    opacity: 0.9;
}

.windows{
    height: 100%;
    overflow-x: hidden;
    width: auto;
    min-width: 100vw;
    /* min-height: 110vh; */
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    z-index: 0;
    opacity: 0.9;
}

.openly-video{
    width: 80vw;
    max-width: 400px;
    height: auto;
    position: fixed;
    right: 0;
    top: 5vh;
}
#openly-vid{
    filter: contrast(1.35) brightness(1.1);
    top: 50vh;
    opacity: 0.8;
}



.title{
    color: rgb(86 59 59 / 18%) !important;
    position: relative;
    font-weight: 400;
    font-size: 5.5rem;
    font-weight: 500;
    z-index: 100;
    padding: 2%;
}

/*~~~~~~~~~~~~~~~opening~~~~~~~~~~~~~~~*/



#lately-poem{
    padding-top: 10%;
    padding-left: 5%;
    width: 60%;
    font-weight: 600;
    min-width: 500px;
    font-size: 1.3em;
    text-shadow: -1px -1px 3px rgb(120, 122, 176);
}

.opening-portal{
    position: fixed;
    mix-blend-mode: lighten;
}

#opening-block2{
    width: 100%;
    height: 50vh;
    top: 0vh;
    z-index: 0;
    left: 0vw;
    opacity: 0.9;
    background: #c7d3dd;
}

#opening-block3{
    width: 20vw;
    height: 70vh;
    right: 0;
    padding-right: 5%;
    top: 0vh;
    background: #ffffff4f;
}

#honestly{
    font-size: 1.8em;
    width: 100%;
    display: flex;
    justify-content: space-between;   
    padding: 2%;
    mix-blend-mode: difference;
    color: #ffe3e3;
}

#opening-right{
    z-index: 100;
    width: 40%;
    font-size: 0.8em;
    margin-top: 20%;
    padding-right: 5%;
}

#opening-right .title{
    color: white !important;
}

#portal-opening{
    position: absolute;
    width: 90vw;
    left: 0vw;
    top: 0vh;
    height: 80vh;
}

#opening{
    mix-blend-mode: difference;
    color: rgb(152, 152, 152);
    background-color: rgb(156 156 156 / 56%);
}

/*~~~~~~~~~~~~~~~perpendicular~~~~~~~~~~~~~~~*/

#perpendicular .title{
    color: rgb(255, 227, 227) !important;
}
#perpendicularPoem{
    color: #f3ebebc9;
    text-shadow: 0 0 10px rgb(255 255 255);
    font-size: 2.5em;
    width: 35%;
    z-index: 100;
    margin-left: 50%;
    font-weight: 100;
    height: 15vh;
    text-align: end;
}

#perpendicular-imgs2{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url("media/fence.jpg");

}

#perpendicular-imgs2 img{
    width: 80vw;
    max-width: 500px;
    height: auto;
    padding: 1%;
}
#perpendicular-imgs2 img:nth-child(even){
    transform: rotate(90deg);
}

#perpendicular{
    position: relative;
    margin-top: 10%;
    width: 100%;
    filter: brightness(1.15);
    mix-blend-mode: difference;
}


/*~~~~~~~~~~~~~~~with every pore of my skin~~~~~~~~~~~~~~~*/

#tomyskin{
    height: fit-content;
    width: 100%;
    filter: brightness(1.5);
    overflow: visible;
    position: relative;
    mix-blend-mode: lighten;
    text-shadow: 2px -2px 5px rgb(99, 56, 56);
}


#everyporeofskin{
    font-size: 1.3em;
    padding-left: 20%;
    width: 60%;
    padding-top: 10%;;
    font-weight: 100;

}
#everyporeofskin2{
    font-weight: 800;
    font-size: 1.8em;
    margin-top: 15%;
    width: 50%;
    padding-bottom: 10%;
    padding-left: 10%;

}

#everyporeofskin p, #everyporeofskin2 p{
    color: rgba(221, 216, 194, 0.65);
    font-size: 1.1em;
    line-height: 0.75em;
}

#pore2{
    position: sticky;
    width: 100%;
    mix-blend-mode: plus-lighter;
    filter: brightness(0.75);
    left: 10%;
    top: 0;
}

#pore2 img{
    width: 100%;
}

#opening-block5{
    position: fixed;
    width: 70vw;
    left: 0;
    opacity: 0.4;
    top: 20vh;;
    mix-blend-mode: exclusion;
}

#opening-block5 img{
    width: 100%;
}




#throughourknuckles audio::-webkit-media-controls-panel{
    background-color:rgba(205, 211, 236, 0.862) !important;
    mix-blend-mode: multiply;
}

#sunspots audio::-webkit-media-controls-panel{
    background-color:rgba(205, 211, 236, 0.862) !important;
    mix-blend-mode: multiply;
}

#throughourknuckles{
    height: fit-content;
    position: relative;
    mix-blend-mode: darken;
    font-size: 3em;
    font-weight: 600;
    color: #000000 !important;
    text-shadow: 0 0 50px rgb(255, 255, 255);
    text-align: center;
}

#knuckles img{
    width: 50%; 
    margin-left: 22.%;
}

#opening-block4{
    top: 0;
    position: relative;
    width: 100%;
}

#opening-block4 img{
    width: 30vw;
    height: 30vw;
    margin-left: 35vw;
}


/*~~~~~~~~~~~~~~~pothole~~~~~~~~~~~~~~~*/

#potholes video{
    opacity: 0.5;
}

#potholes{
    filter: blur(2px);
    z-index: 100;
    position: relative;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 10%;
    padding: 1%;
    font-size: 2em;
    text-shadow: 0 0 40px rgb(255, 0, 0);
    font-weight: 200;
    height: fit-content;
    mix-blend-mode: multiply;
    overflow: visible;
    color: rgb(201 180 180);
    background-size: cover;

}

#album{
    width: 100%;
    background-color: #39395560;
}


#opening-right audio{
    width: 30vw !important;
}



audio::-webkit-media-controls {
     background-color: rgb(255, 255, 255) !important;
     color: #000;
     }

#openly-poem{
    mix-blend-mode: lighten;
}

#birds-cont{
    position: relative;
    width:60vw;
    margin: 2vh 20vw;
    filter: invert(0.85);
}


#openly-intro {
    z-index: 100;
    top: 0;
    left: 50%;
    position: absolute;
    color: #000000;
    font-size: 2em;
    width: 30%;
    height: 30%;
}



#potholes .title{
    color: rgb(176, 188, 226) !important;
    
}
#potholes p{
    width: 80%;
}

.poem{
    font-size: 2.2rem;
    text-align: center;
    font-weight: 100;
    padding: 0 3%;
    color:rgba(164, 164, 164, 0.665);
}

.pothole{
    clear: both;
    text-align: right;
    padding: 5% 0;
}

/*~~~~~~~~~~~~~~~sunspots and sinkholes~~~~~~~~~~~~~~~*/

#sunspots{
    mix-blend-mode: plus-lighter;
    padding: 3% 0;
    margin-top: 10vh;
    position: relative;
}

#softspot2{
    mix-blend-mode: lighter;
    margin-top: 10vh;
}

#sunspot1{
    position: relative;
    color: rgb(62 71 78);
    padding: 1.5% 2%;
    font-size: 40px;
    text-shadow: 3px 2px 30px #878686;
    font-weight: 700;

}


#sunspot2{
    text-shadow:rgba(253, 229, 196, 0.856) 10px 0px 10px;
    color: rgba(248, 232, 210, 0.5);
    width: 100%;
    opacity: 0.5;
    padding: 0 2%;
    font-size: 160px;
    position: relative;

}

#softspot2{
    display: flex;
    width: 80%;
    margin-left: 10%;
    position: relative;
    height: fit-content;
    align-items: center;
}

#softspot2 div{
    text-align: right;
    overflow: visible;
    font-size: 2em;
    color: #d65cd57d;
    text-shadow: 0 0 10px #d65cd57d;
}


#softspot2 img{
    filter:invert(1);
    width: 100%;
    margin-bottom: 5%;
}

#softspot{
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0 3%;
}

#softspot img{
    width: 30%;
    right: 0;
    height: auto;
    opacity: 0.6;
}

/* 
#grassfield{
    width: 20%;
    height: auto;
    opacity: 0.8;
    overflow: hidden;
    z-index: 1;
} */

/*~~~~~~~~~~~~~~~your arms were the windows~~~~~~~~~~~~~~~*/

#yourarmswere .title{
    color:rgba(110, 0, 0, 0.39) !important;
}
#yourarmswere{
    margin-top: 10vh;
    mix-blend-mode: exclusion;
    width: 100%;
    font-weight: 100;
    overflow: visible;
    filter: invert(.8);
    text-shadow: 5px 0px 5px rgb(175, 175, 175);
}


#window img{
    width: 80%;
    height: auto;
    margin-bottom: 5%;
}

#window2 img{
    width: 50%;
    height: auto;
    filter: invert(0.2)
}

#window img:nth-child(1){
    margin-left: 20%;
}
#window img:nth-child(2){
    margin-left: 15%;
}
#window{
    width: 20%;
    top: 20%;
    mix-blend-mode: lighten;
}

#window2{
    z-index: 1;
    position: absolute;
    left: 25%;
    bottom: 5%;
    mix-blend-mode: lighten;
}
/*~~~~~~~~~~~~~~~soft spiral~~~~~~~~~~~~~~~*/
#soft-spiral{
    position: relative;
    padding: 2%;
    font-size: 0.9em;
    font-weight: 100;
    mix-blend-mode: plus-lighter;
    color: #ced060;
    text-shadow: 0 0 3px white;
    text-align: end;
}

#softspiral .title{
    color:rgb(18, 10, 48) !important;
}
#softspiral{
    mix-blend-mode: difference;
}

#spirals{
    width: 100%;
}
#spiral1, #spiral2{
width: 40vw;
position: absolute;
padding: 0;
margin-left: 30vw;
}
#spiral1{
    bottom: -5%;
}
#spiral2 img, #spiral1 img{
    margin-top: 15%;
    padding-bottom: 5%;
    width: 100%;
    height: auto;
    opacity: 0.5;
}

/*~~~~~~~~~~~~~~~inside the light~~~~~~~~~~~~~~~*/
#insidethelight{
    color: rgb(210 210 210) !important;
    text-shadow: yellowgreen 1px 0 15px;
    font-size: 2.5em;
    mix-blend-mode: lighten;
    width: 100%;
}

#insidethelight7{
    width: 25%;
    background-color: black;
    color: rgb(255 255 255);
    padding: 3%;
    opacity: 0.9;
}

#insidethelight8{
    width: 75%;
    mix-blend-mode: overlay;
}
#insidethelight9{
    width: 100%;
    mix-blend-mode: overlay;
    display: flex;
}

.light{
    width: 100%;
}
#insidethelight2, #insidethelight3, #insidethelight4{
    padding-left: 2%;
}

.light img{
    width:  100%;;
}
/*~~~~~~~~~~~~~~~reopening~~~~~~~~~~~~~~~*/



#reopening .title{
    opacity: 0.6;
    padding: 4% 0;
    text-align: center;
    color: rgb(1, 1, 1) !important;
    background: rgba(255, 255, 255, 0.597);
    margin-top: 0;
}

#reopening{
    mix-blend-mode: lighten;
    width: 100%;
    position: relative;
}


.reopening-poem{
    position: relative;
    z-index: 100;
}

#reopening-poem2{
    top: 50%;
    padding-left: 2%;
    width: 60%;
    font-size: 2.8em;
    color: rgb(208 235 131 / 78%);
    text-shadow: rgba(154, 199, 32, 0.534) 115px 2px 5px;
}


#reopening-poem3{
    padding:5vw !important;
    font-size: 3em;
    font-weight: 100;
    color: rgba(199, 199, 199, 0);
    text-shadow: 0px 0px 4px rgba(208, 218, 192, 0.933);
    width: 90vw;


}

#main-openly{
    /* mix-blend-mode: lighten; */
    width: 101vw;

}

.reopening-bg{
    top: 10vh;
    left: 0;
    position: absolute;
    background-color: rgb(168, 168, 123);
    width: 100%;
    height: auto;
}

.reopening-bg img{
    width: 100vw;
    height: auto;
    margin-bottom: 20vh;
    opacity: 0.7;
    position: sticky;
}

.swamp{
    position: fixed;
    top: 0;
    left:0;
    opacity: 0.8;
    height: 100vh;
    width: 100%;
    filter: brightness(0.5);
}

.pages{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.pages img:nth-child(1){
    width: 40%;
    height: 100%;
}
.pages img:nth-child(2){
    width: 40%;
    height: 100%;
}
.pages img:nth-child(3){
    width: 40%;
    height: 100%;
}
.pages img:nth-child(4){
    width: 60%;
    height: 100%;
}


#tohold h1{
    color: rgb(182, 157, 157);
    text-shadow: 0 4px 4px rgb(206 0 0);
    mix-blend-mode: multiply;
    font-size: 3em;
    font-style: italic;
    padding-left: 10%;
}
#tohold{
    mix-blend-mode: darken;

}

#tohold .audio, #snowfairy .audio{
    box-sizing: content-box;
    mix-blend-mode: darken;
    padding: 0;
    margin-left: 0;
}

#sf-header{
    text-align: center;
    margin-bottom: 6%;
}

#snowfairy h1{
    margin-top: 0;
}

#snowfairy{
    width: 100%;
    box-sizing: border-box;
    font-size: 1.2em;
    padding: 1% 5%;
    mix-blend-mode: darken;
    color: #bebcf7;
    text-shadow: 0 2px 5px #710d0d;
    z-index: 100;
}

#sf-poem{
    font-size: 1.1em;
    padding: 2%;
    display: flex;
    justify-content: center;
}
#sf-poem p{
    padding: 1%;
}

#sf-poem img{
    width: 50%;
    filter: grayscale(1);
    height: auto;
    opacity: 0.7;
}

#tohold p{
    color: rgb(187, 92, 92);
    text-shadow: 0 2px 5px whitesmoke;
    font-size: 1em;
    line-height: 1.5em;
    padding-left: 10%;
}

#tohold .description{
    width: 70%;
    background-color: rgb(182, 157, 157);

}

#obfuscation-1{
    font-size: 2em;
    width: 100%;
}

#obf-img1{
    padding-left: 35%;
    width: 30%;
    opacity: 0.5;

}

.obfuscation-header{
    padding-left: 10%;
}

#obf-1{
    z-index: 1;

}

.audio-cont{
    height: 54px;
    width: 100%;   
    border: none;
    padding: 0;
    margin: 40px 0px 20px 0px;
    box-sizing: border-box;
    z-index: 100;
    position: sticky;
    left: 0;
    top: 0;
    mix-blend-mode: color-burn;
    transform: scale(1,3) translate(0px, 30%);
}


.audio-cont audio{
    width: 100%;
    /* position: absolute; */
    left: 50%;
    width:  100%;
    filter: blur(0.5px);
    z-index: 100;
}

audio{
    z-index: 100;
    width: 100%;
}

.obf-1-desc{
    width: 60vw;
    line-height: 40%;
    font-size: 1rem;
    top: 5vh;
    z-index: 1;
    position: relative;
    padding-left: 30%;
    text-align: right;
}


#obfuscation-header, .obf-1-desc{
    mix-blend-mode: lighten;
    color: #1a1919;
    text-shadow: -00px -1px 3px rgb(255 255 255);
}


@media only screen and (max-width: 1200px) {
    .obf-1-vis {
        width: 60vw !important;
    }

    .audio-cont{
        height: 54px;
        width: 100%;
        position: sticky;
        border: none;
        padding: 0;
        margin: 40px 0px 20% 0px;
        box-sizing: border-box;
        z-index: 100;
        /* position: relative; */
        mix-blend-mode: color-burn;
    }
    
    
    .audio-cont audio{
        position: sticky;
        left: 0%;
        top: 0;
        width: 100%;
        z-index: 100;
        filter: blur(0.5px);
    
    }
  }


.obf-1-vis img{
    width: 50%;
    height: auto;
    filter: saturate(50%);  
    padding-left: 50%;
    transform: translate(-25%, 0); 

}

.obf-1-vis {
    mix-blend-mode: darken;
}

#obf-img2 {
    filter: invert(0.8);
    width: 50%;
    margin-left: 50%;
    transform: scaleX(-1);
}

#obf-desc-2{
    display: flex;
    padding-left: 0;
    width: 100%;
}

#obf-desc-2 div{
    width: 50%;
}

#obf-cont{
    mix-blend-mode: lighten;
}

#obfuscation-1 audio::-webkit-media-controls-panel{
    background-color:rgba(100, 78, 78, 0.862) !important;
    mix-blend-mode: multiply;
}

#obf-vis-2, #obf-vis-1{
    width: 100%;
    mix-blend-mode: lighten;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.obf-vis img{
    width: 40%;
    height: auto;
}


#load{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 1;
    background-color: #000;
}

audio::-webkit-media-controls-enclosure {
    border-radius: 0;
}


#load div{
    position: relative;
}

#load video{
    width: 100vw;
    padding: 0;
    height:100vh;
    position: absolute;
}

#load-txt{
    padding: 5%;
    font-size: 1.5em;
}



.song-holder, #header{
    position: relative;
    width: 101vw !important;
    z-index: 100;
    margin: 0 !important;

}