@media only screen and (max-width: 1500px) {
    .title {
      font-size: 200px;
    }

    #openly a{
        color: rgb(184, 164, 127) !important;
    }

    #thro-our-knuckles{
        font-size: 2em;
    }

}

audio::-webkit-media-controls-panel {
    background-color: #6363843a;
    color: white;
}

body, #main-body{
    position: relative;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    margin: 0;
    font-weight: 400;
    text-shadow: 0px 2px 3px rgb(49 92 183);
    color: rgb(183, 156, 49, .5) !important;
}


video::-webkit-media-controls-start-playback-button {
    display: none !important;
  }

  /* .media-controls-container{
      display: none !important;
  } */


#bodyBg{
    background-color: rgb(182, 162, 126);
    /* mix-blend-mode: exclusion; */
    background-blend-mode: lighten;
    width: 100vw;
    height: fit-content;
    min-height: 100%;
}



#root{
    z-index: 10;
    position: relative;
}

.main{
    position: relative;
    display: flex;
    width: 95vw;
    margin-top: 2%;
    padding-top: 1%;
    box-sizing: border-box;
    align-self: space-between;
}



#bg{
    position: fixed;
    opacity: 0.8;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: 0;
    transform: translate(-0%, -27%);
}


/*~~~~~~~~~~~~~~~openly~~~~~~~~~~~~~~~*/

#reopening-vid-container{
    mix-blend-mode: darken;
    width: 94%;
    color: #b10000;;
    font-size: 2rem;
    padding: 3%;
    font-weight: 800;
    text-align: end;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
}

#reopening-vid{
    z-index: 100;
}

#openly-main p{
    padding: 0% 2%;
    font-size: 1.3em;;
}


.openly{
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    overflow: hidden;
}



@keyframes bgColor {
    0% {background-color: rgb(231, 208, 167)}
    50% {background-color: rgb(208, 213, 218)}
    100% {background-color: rgb(231, 208, 167)}
}

#centerPoem{
    margin-top: 10vh;
    position: absolute;
    width: 100%;
    padding: 2%;
    font-size: 3em;
    font-weight: 200;;
}

#header1{
    display: flex;
    z-index: 100;
    top: 0;
    filter: invert(0.85);
    height: 10vh;
    min-height: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: sticky;
    left: 0;
    font-weight: 800;
    font-size: 3.5rem;
    box-shadow: 0 5px 60px #05054f;
}

#enter-openly, #header1{
    color: rgb(0 0 0 / 70%) !important;
    background-color: #27276ce7;
    text-shadow: 0 0 30px rgb(255, 247, 227);
    opacity: 0.95;
}

#enter-openly{
    filter: invert(0.8);
    box-shadow: 0 0px 20px #6c6cab;
    box-sizing: border-box;
    text-align: center;
    font-weight: 800;
    width: 90%;
    font-size: 2.6em;
    margin: 5% 50%;
    transform: translate(-50%, 0);
    padding: 5%;
    mix-blend-mode: exclusion;
    border: none;
    position: relative;
}
#intro{
    color: #3a3a59;
    background-color: rgb(204 192 146 / 86%);
    text-shadow: 0 0 3px #010152;
    position: relative;
    margin: 2vh 20vw;
    width:60vw;
    font-size: 2.5em;
    font-weight: 600; 
}


#openly-header{
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.grid-row{
    position: relative;
    z-index: 100;
}
.odd, .even{
    position: relative;
    z-index: 100;
}

#centerPoem p{
    display: none;
    text-shadow: 0px 2px 3px rgb(165, 172, 179);
    color: rgba(165, 172, 179, 0.735) !important;
}
#test{
    z-index: 100;
    position: relative;
}

#centerPoem p:nth-child(2) {
    animation-delay: 3s;
}

#centerPoem p:nth-child(3) {
    animation-delay: 6s;
}
#centerPoem p:nth-child(4) {
    animation-delay: 9s;
}
#centerPoem p:nth-child(5) {
    animation-delay: 12s;
}
#centerPoem p:nth-child(6) {
    animation-delay: 15s;
}

#centerPoem p:nth-child(7) {
    animation-delay: 18s;
}

@keyframes poemOpacity {
    0% {opacity: 0;}
    30% {opacity: 0.8;}
    50% {opacity: 1;}
    70% {opacity: 0.8;}
    100% {opacity: 0;}
}

#openly-list a{
    color: rgb(214, 214, 12) !important;
}

#openly-list{
    margin-left: 30%;
}

#openly-list a:hover{
    opacity: 1.0 !important;
    color: rgb(18, 10, 48);
    background-color: rgb(255, 0, 221);
}

/*~~~~~~~~~~~~~~~all~~~~~~~~~~~~~~~*/


/* #birds-vid{
    filter: brightness(1.1);
} */
#openly-poem{
    filter: invert(0.8);
    /* position: absolute; */
    width:100%;
}

#birds-vid{
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

#me{
    width: 60%;
    position: relative;
    filter: invert(0.85);
}


#openly-intro{
    z-index: 100;
    width: 30vw;
    min-width: 300px;
    background-image: url("media/openly.png");
    height: auto;
    position: fixed;
    top: 10vh;
    right:5vw;;
    mix-blend-mode: soft-light;
    box-shadow: 0 0 8px 8px rgba(255, 255, 255, 0.541) inset;

}

.bgVideo{
    height: 100%;
    overflow-x: hidden;
    width: auto;
    min-width: 100vw;
    min-height: 110vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    z-index: 0;
    opacity: 0.9;
}

.openly-video{
    width: 80vw;
    max-width: 400px;
    height: auto;
    position: fixed;
    right: 0;
    top: 5vh;
}
#openly-vid{
    filter: contrast(1.35) brightness(1.1);
    top: 40vh;
    opacity: 0.8;
}



.title{
    color: rgb(109, 2, 2) !important;
    position: relative;
    font-weight: 400;
    font-size: 3.5rem;
    font-weight: 500;
    z-index: 100;
    padding: 2vw;
}

/*~~~~~~~~~~~~~~~opening~~~~~~~~~~~~~~~*/


#lately-audio{
    z-index: 100;
    height: 50px;
    width: 95%;
}

#lately-poem{
    padding-top: 10%;
    padding-left: 5%;
    width: 60%;
    font-weight: 600;
    min-width: 500px;
    font-size: 1.3em;
    text-shadow: -1px -1px 3px rgb(120, 122, 176);
}

.opening-portal{
    position: fixed;
    mix-blend-mode: lighten;
}

#opening-block2{
    width: 80vw;
    height: 40vh;
    top: 10vh;
    z-index: 0;
    left: 0vw;
    opacity: 0.7;
    background: aliceblue;
}
#opening-block{
    background: aliceblue;
    width: 60vw;
    height: 30vh;
    top: 50vh;
    left: 0vw;
}
#opening-block3{
    width: 20vw;
    height: 70vh;
    right: 0;
    padding-right: 5%;
    top: 15vh;
    background: #ffffff4f;
}

#honestly{
    font-size: 1.8em;
    width: 100%;
    display: flex;
    justify-content: space-between;   
    padding: 2%;
    mix-blend-mode: difference;
    color: #ffe3e3;
}

#opening-right{
    z-index: 100;
    width: 20%;
    font-size: 0.8em;
    margin-top: 20%;
}

#portal-opening{
    position: absolute;
    width: 90vw;
    left: 0vw;
    top: 0vh;
    height: 80vh;
}

#opening{
    padding-right: 5%;
    mix-blend-mode: plus-lighter;
    color: rgb(152, 152, 152);
    background-color: rgb(173, 14, 14);
}

/*~~~~~~~~~~~~~~~perpendicular~~~~~~~~~~~~~~~*/

#perpendicular-imgs img:nth-child(1){
    width: 20%;
    min-width: 300px;
    top: 20vh;
    left: 30%;
}
#perpendicular-imgs img:nth-child(2){
    width: 20%;
    right: 10%;
    top: 40%;
}
#perpendicular-imgs img:nth-child(3){
    width: 10%;
    right: 5%;
    bottom: 1vh;
    min-width: 200px;
}

#perpendicularPoem{
    color: #f3ebebc9;
    text-shadow: 0 0 10px rgb(255 255 255);
    font-size: 2.5em;
    width: 35%;
    z-index: 100;
    position: absolute;
    right: 3%;
    top: 18%;
    font-weight: 100;
    height: 15vh;
    text-align: end;
}

#perpendicular video{
    mix-blend-mode: plus-lighter;
    transform: rotate(180deg);
}

#perpendicular{
    background-image: url("media/fence.jpg");
    height: 70vh;
    position: relative;
    margin-top: 10%;
    padding: 5%;
    filter: brightness(1.15);
    mix-blend-mode: lighten;
}
#perpendicular img{
    position: absolute;
    z-index: 100;
}

/*~~~~~~~~~~~~~~~with every pore of my skin~~~~~~~~~~~~~~~*/

#everypore{
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
    height: fit-content;
    width:100vw;
    filter:contrast(1.5);
    overflow: visible;
    position: relative;
    mix-blend-mode: lighten;
}


#everyporeofskin{
    font-size: 1.3em;
    padding-left: 10%;
    width: 60%;
    padding-top: 10%;;
}
#everyporeofskin2{
    width: 60%;
    padding-bottom: 10%;
    padding-left: 5%;
}

#everyporeofskin p, #everyporeofskin2 p{
    color: rgba(221, 216, 194, 0.65);
    font-size: 1.1em;
    font-weight: 100;
    line-height: 0.75em;
}

#pore2{
    position: absolute;
    width: 60%;
    mix-blend-mode: lighten;
    left: 10%;
    top: 25%;
}
#opening-block5{
    position: fixed;
    width: 70vw;
    left: 0;
    opacity: 0.4;
    top: 20vh;;
    mix-blend-mode: exclusion;
}

#opening-block5 img{
    width: 100%;
}

#pore1{
    position: sticky;
    width: 80%;
    left: 0;
    top: 0;
    mix-blend-mode: lighten;
}
#pore1 img, #pore2 img{
    width: 100%;
    height: auto;
}


/*~~~~~~~~~~~~~~~through our knuckles~~~~~~~~~~~~~~~*/

#thro-our-knuckles{
    height: fit-content;
    padding: 0% 5% 5% 5%;
    position: relative;
    mix-blend-mode: difference;
    text-align: center;
}

#knuckles{
    height: 40vh;
    color: white;
}

#knuckles img{
    position: absolute;
    width: 50%; 
    left: 25%;
}

#opening-block4{
    top: 0;
    position: relative;
    width: 100%;
}

#opening-block4 img{
    width: 30vw;
    height: 30vw;
    margin-left: 35vw;
}


/*~~~~~~~~~~~~~~~pothole~~~~~~~~~~~~~~~*/

#potholes video{
    opacity: 0.5;
}

#potholes{
    z-index: 100;
    position: relative;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 10%;
    padding: 1%;
    font-size: 2em;
    font-weight: 800;
    line-height: 10%;
    height: fit-content;
    overflow: visible;
    color: rgba(107, 0, 0, 0.589);
    background-size: cover;
    mix-blend-mode:darken;
}

#album{
    width: 100%;
    background-color: #39395560;
}

.song-container{
    width: 100%;
    
    align-items: center;
    display: flex;
    height: fit-content;
    min-height: 10vh;;
    overflow: hidden;
    justify-content: flex-end;
}

.song{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0px,-50%);
}

.song-title{
    margin: 0 5%;
    font-size: 2.5em;
}


.song-title, .audio-container{
    color: rgb(183, 156, 49, .5) !important;
    font-weight: 400;
    text-shadow: 0 0 5px white;
}

#openly-poem{
    mix-blend-mode: lighten;
}

#birds-cont{
    position: relative;
    width:60vw;
    margin: 2vh 20vw;
    filter: invert(0.85);
}


.intro2 {
    z-index: 100;
    top: 0;
    left: 50%;
    position: absolute;
    color: #000000;
    font-size: 2em;
    width: 30%;
    height: 30%;
}

#potholes .title{
    color: rgb(171, 7, 7) !important;
}
#potholes p{
    width: 80%;
}


.poem{
    font-size: 2.2rem;
    text-align: center;
    font-weight: 600;
    padding: 0 3%;
    color:rgba(164, 164, 164, 0.665);
}

.pothole{
    clear: both;
    text-align: right;
    padding: 5% 0;
}

/*~~~~~~~~~~~~~~~sunspots and sinkholes~~~~~~~~~~~~~~~*/

#sunspots, #softspot2{
    mix-blend-mode: plus-lighter;
    padding: 3%;
    font-size: 2.2em;
    margin-top: 10vh;
}

#sunspot1{
    position: relative;
    background-color: #83557d;
    color: rgba(196, 200, 203, 0.856);
    padding: 1.5%;
}

#sunspot2{
    text-shadow:rgba(253, 229, 196, 0.856) 10px 0px 10px;
    color: rgba(248, 232, 210, 0.5);
    width: 100%;
    opacity: 0.5;
    padding: 0 2%;
    font-size: 3.5em;
    position: relative;

}

#softspot2{
    display: flex;
    width: 90vw;
    position: relative;
    height: fit-content;
    align-items: center;

}

#softspot2 div{
    text-align: right;
    overflow: visible;
    font-size: 2em;
    color: #d65cd57d;
    text-shadow: 0 0 10px #d65cd57d;
}


#softspot2 img{
    width: 100%;
    mix-blend-mode: darken;
}

#softspot{
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#softspot img{
    width: 30%;
    right: 0;
    height: auto;
    opacity: 0.6;
}

/* 
#grassfield{
    width: 20%;
    height: auto;
    opacity: 0.8;
    overflow: hidden;
    z-index: 1;
} */

/*~~~~~~~~~~~~~~~your arms were the windows~~~~~~~~~~~~~~~*/

#yourarmswere .title{
    color:rgba(110, 0, 0, 0.39) !important;
}
#yourarmswere{
    margin-top: 10vh;
    mix-blend-mode: exclusion;
    width: 100vw;
    font-weight: 100;
    overflow: visible;
    text-shadow: 5px 0px 5px rgb(175, 175, 175);
}
#arms{
    margin-top: 5vh;
    width: 100vw;
    height: fit-content;
    background-image: url("media/rupture.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#arms img{
    mix-blend-mode: color-dodge;
    height: auto;
    width: 100%;
    margin-top: 30vh;
}

#window img{
    width: 80%;
    height: auto;
    margin-bottom: 5%;
}

#window2 img{
    width: 50%;
    height: auto;
    filter: invert(0.2)
}

#window img:nth-child(1){
    margin-left: 20%;
}
#window img:nth-child(2){
    margin-left: 15%;
}
#window{
    width: 20%;
    top: 20%;
    mix-blend-mode: lighten;
}

#window2{
    z-index: 1;
    position: absolute;
    left: 25%;
    bottom: 5%;
    mix-blend-mode: lighten;
}
/*~~~~~~~~~~~~~~~soft spiral~~~~~~~~~~~~~~~*/
#soft-spiral{
    position: relative;
    padding: 2%;
    font-size: 0.6em;
    font-weight: 100;
    mix-blend-mode: plus-lighter;
    color: #ffffff;
}

#softspiral .title{
    color:rgb(18, 10, 48) !important;
}

#spirals{
    width: 100%;
}
#spiral1, #spiral2{
width: 40vw;
position: absolute;
padding: 0;
margin-left: 30vw;
}
#spiral1{
    bottom: -5%;
}
#spiral2 img, #spiral1 img{
    margin-top: 15%;
    padding-bottom: 5%;
    width: 100%;
    height: auto;
    opacity: 0.5;
}

/*~~~~~~~~~~~~~~~inside the light~~~~~~~~~~~~~~~*/
#insidethelight{
    color: rgb(210 210 210) !important;
    text-shadow: yellowgreen 1px 0 15px;
    font-size: 2.5em;
    mix-blend-mode: lighten;
    width: 90vw;
    padding: 0 15%;;
}

#insidethelight7{
    background-color: yellowgreen;
    color: rgba(0, 0, 0, 0.308);
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.719);
    padding: 15%;
    opacity: 0.6;
    mix-blend-mode: color-dodge;
}

#insidethelight8{
    width: 100%;
    mix-blend-mode: overlay;
    position: absolute;
    top: 85%;
}
#insidethelight9{
    position: relative;
    overflow: visible;
}

.light{
    width: 100%;
}
#insidethelight2, #insidethelight3, #insidethelight4{
    padding-left: 2%;
}

.light img{
    width:  100%;;
}
/*~~~~~~~~~~~~~~~reopening~~~~~~~~~~~~~~~*/



#reopening .title{
    padding: 2%;
    width: 70%;
    opacity: 0.6;
    padding: 2%;
}

#reopening{
    margin-top: 50%;
    position: relative;
}


.reopening-poem{
    position: relative;
    z-index: 100;
}

#reopening-poem1{
    top: 20%;
    left: 7%;
    font-size: 1em;
    color: rgba(160, 141, 101, 0.876);
    font-weight: 100;
    text-shadow: rgba(255, 166, 0, 0.596) 45px 10px 20px;
}

#reopening-poem2{
    top: 50%;
    left: 40%;
    font-size: 2.8em;
    color: rgba(232, 255, 168, 0);
    text-shadow: rgba(154, 199, 32, 0.534) 115px 2px 5px;
}

#reopening-poem3{
    top: 80%;
    left: 3%;
    padding:0;
    margin: 0;
    font-size: 4.25em;
    color: rgba(232, 255, 168, 0);
    text-shadow: rgba(249, 250, 250, 0.315) 115px 2px 5px;
}

#main-body{
    mix-blend-mode: lighten;
}

.reopening-bg{
    position: absolute;
    width: 100vw;
    height: auto;
    mix-blend-mode: screen;
    bottom: 0;
}

.swamp{
    position: fixed;
    top: 0;
    left:0;
    opacity: 0.8;
    height: 100vh;
    width: auto;
}